## SQLite Database Management

Create a database, store your interesting movie names with the names of lead actor, actress, year of release and the director name. Once you have stored the details, then use any programming language of your choice to retrieve the details.

#### Importing required libraries

In [1]:
import sqlite3 as sql
import pandas as pd

#### Creating new SQLite database

In [2]:
connection=sql.connect('movies_database.db')
cursor=connection.cursor()

In [3]:
cursor.execute("DROP TABLE IF EXISTS movies_database")

#### Creating new table - movies

In [4]:
table = """ CREATE TABLE movies(
            moiveName VARCHAR(50) NOT NULL,
            actorName CHAR(25) NOT NULL,
            actressName CHAR(25),
            yearOfRelease INT NOT NULL,
            directorName CHAR(25) NOT NULL
            );"""

In [5]:
cursor.execute(table)

In [6]:
query = ''' SELECT * FROM movies'''
df = pd.read_sql_query(query, connection)
df

Empty DataFrame
Columns: [moiveName, actorName, actressName, yearOfRelease, directorName]
Index: []

#### Inserting data into movies table

In [7]:
cursor.execute('''INSERT INTO movies VALUES ('The intern', 'Robert De Niro', 'Anne Hathaway', '2015','Nancy Meyers')''')
cursor.execute('''INSERT INTO movies VALUES ('Marvel- Shang-Chi and The Legend of The Ten Rings', 'Simu Liu', 'Awkwafina', '2021',' Destin Daniel Cretton')''')
cursor.execute('''INSERT INTO movies VALUES ('The Space Between Us', 'Asa Butterfield', 'Britt Robertson', '2017','Peter Chelsom')''')
cursor.execute('''INSERT INTO movies VALUES ('Marvel- Black Widow', '', 'Natasha Romanoff', '2021','Cate Shortland')''')
cursor.execute('''INSERT INTO movies VALUES ('The Midnight Sun', 'Patrick Schwarzenegger', 'Bella Thorne', '2018','Scott Speer')''')
cursor.execute('''INSERT INTO movies VALUES ('Ford vs Ferrari','Matt Damon,Christian Bale','','2019','James Mangold')''')
cursor.execute('''INSERT INTO movies VALUES ('Marvel- Eternals', 'Barry Keoghan, Richard Madden, Harry Styles','Angelina Jolie, Gemma Chan', '2021','Chloé Zhao')''')
cursor.execute('''INSERT INTO movies VALUES ('To All The Bright Places', 'Justice Smith', 'Elle Fanning', '2020','Brett Haley')''')
cursor.execute('''INSERT INTO movies VALUES ('Marvel- Spider Man No Way Home', 'Tom Holland', 'Zendaya', '2021 ','Jon Watts')''')
cursor.execute('''INSERT INTO movies VALUES ('The Adam Project', 'Ryan Reynolds, Walker Scobell, Mark Ruffalo', 'Jennifer Garner, Zoe Saldaña', '22','Shawn Levy')''')

#### Displaying the table after inserting the values

In [8]:
query = ''' SELECT * FROM movies'''
df = pd.read_sql_query(query, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The intern,Robert De Niro,Anne Hathaway,2015,Nancy Meyers
1,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
2,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
3,Marvel- Black Widow,,Natasha Romanoff,2021,Cate Shortland
4,The Midnight Sun,Patrick Schwarzenegger,Bella Thorne,2018,Scott Speer
5,Ford vs Ferrari,"Matt Damon,Christian Bale",,2019,James Mangold
6,Marvel- Eternals,"Barry Keoghan, Richard Madden, Harry Styles","Angelina Jolie, Gemma Chan",2021,Chloé Zhao
7,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
8,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
9,The Adam Project,"Ryan Reynolds, Walker Scobell, Mark Ruffalo","Jennifer Garner, Zoe Saldaña",22,Shawn Levy

#### Query-1: Sorting the movies table by yearOfRelease

In [9]:
query1 = ''' SELECT * FROM movies ORDER BY 
    yearOfRelease DESC'''
df = pd.read_sql_query(query1, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
1,Marvel- Black Widow,,Natasha Romanoff,2021,Cate Shortland
2,Marvel- Eternals,"Barry Keoghan, Richard Madden, Harry Styles","Angelina Jolie, Gemma Chan",2021,Chloé Zhao
3,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
4,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
5,Ford vs Ferrari,"Matt Damon,Christian Bale",,2019,James Mangold
6,The Midnight Sun,Patrick Schwarzenegger,Bella Thorne,2018,Scott Speer
7,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
8,The intern,Robert De Niro,Anne Hathaway,2015,Nancy Meyers
9,The Adam Project,"Ryan Reynolds, Walker Scobell, Mark Ruffalo","Jennifer Garner, Zoe Saldaña",22,Shawn Levy

#### Query-2: Updating the movies table by yearOfRelease

In [10]:
cursor.execute('''UPDATE movies SET yearOfRelease = 2022 WHERE directorName == 'Shawn Levy' ''')
df = pd.read_sql_query("SELECT * FROM movies", connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The intern,Robert De Niro,Anne Hathaway,2015,Nancy Meyers
1,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
2,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
3,Marvel- Black Widow,,Natasha Romanoff,2021,Cate Shortland
4,The Midnight Sun,Patrick Schwarzenegger,Bella Thorne,2018,Scott Speer
5,Ford vs Ferrari,"Matt Damon,Christian Bale",,2019,James Mangold
6,Marvel- Eternals,"Barry Keoghan, Richard Madden, Harry Styles","Angelina Jolie, Gemma Chan",2021,Chloé Zhao
7,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
8,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
9,The Adam Project,"Ryan Reynolds, Walker Scobell, Mark Ruffalo","Jennifer Garner, Zoe Saldaña",2022,Shawn Levy

#### Query-3: Selecting the movies which has yearOfRelease <= 2020

In [11]:
query3 = ''' SELECT * FROM movies WHERE yearOfRelease <= 2020'''
df = pd.read_sql_query(query3, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The intern,Robert De Niro,Anne Hathaway,2015,Nancy Meyers
1,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
2,The Midnight Sun,Patrick Schwarzenegger,Bella Thorne,2018,Scott Speer
3,Ford vs Ferrari,"Matt Damon,Christian Bale",,2019,James Mangold
4,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley

#### Query-4: Selecting the movies which has No Actor or Actress Name

In [12]:
query4 = ''' SELECT * FROM movies WHERE actorName ='' OR actressName =''  '''
df = pd.read_sql_query(query4, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,Marvel- Black Widow,,Natasha Romanoff,2021,Cate Shortland
1,Ford vs Ferrari,"Matt Damon,Christian Bale",,2019,James Mangold

#### Query-5: Selecting the movie which was directed by Shawn Levy

In [13]:
query5 = ''' SELECT * FROM movies WHERE directorName == 'Shawn Levy' '''
df = pd.read_sql_query(query5, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The Adam Project,"Ryan Reynolds, Walker Scobell, Mark Ruffalo","Jennifer Garner, Zoe Saldaña",2022,Shawn Levy

#### Query-6: Selecting only Marvel movies from the table

In [14]:
query6 = '''SELECT * FROM movies WHERE moiveName LIKE '%Marvel%' '''
df = pd.read_sql_query(query6, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
1,Marvel- Black Widow,,Natasha Romanoff,2021,Cate Shortland
2,Marvel- Eternals,"Barry Keoghan, Richard Madden, Harry Styles","Angelina Jolie, Gemma Chan",2021,Chloé Zhao
3,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts

#### Query-7: Deleting the movie  "Eternals"

In [15]:
cursor.execute('''DELETE FROM movies WHERE moiveName == 'Marvel- Eternals' ''')
df = pd.read_sql_query("SELECT * FROM movies", connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The intern,Robert De Niro,Anne Hathaway,2015,Nancy Meyers
1,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
2,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
3,Marvel- Black Widow,,Natasha Romanoff,2021,Cate Shortland
4,The Midnight Sun,Patrick Schwarzenegger,Bella Thorne,2018,Scott Speer
5,Ford vs Ferrari,"Matt Damon,Christian Bale",,2019,James Mangold
6,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
7,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
8,The Adam Project,"Ryan Reynolds, Walker Scobell, Mark Ruffalo","Jennifer Garner, Zoe Saldaña",2022,Shawn Levy